h2{
    text-align:center; 
    color: azure;
    /*background-color:rgba(50, 189, 62, 0.836);
    
    background-color:rgba(194, 35, 35, 0.836);*/
    background-color:rgba(53, 155, 202, 0.836);
    padding: 10px;
    border-radius: 5px;
}
.produc{
    height: 30%;
}
table{
    border-radius: 10px;
}
th{
    color: white;
    text-align: center;
    background-color:rgba(6, 101, 165, 0.795);
}
td{
    text-align: center;
}
td .image{
    border-radius: 7px;
    text-align: center;
    height: 120px;
    width: 120px;
}
.btn{
    margin-right: 10px;
}