<h2>{{titulo}}</h2>
<form action="">
    <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" [(ngModel)]="producto.nombre">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="">Marca</label>
                    <input type="text" class="form-control" name="marca" placeholder="Marca" [(ngModel)]="producto.marca">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="">Precio</label>
                    <input type="text" class="form-control" name="precio" placeholder="$ Precio" [(ngModel)]="producto.precio">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="">Existencias en stock</label>
                    <input type="text" class="form-control" name="no_existencias" placeholder="Stock" [(ngModel)]="producto.no_existencias">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="">Estatus</label>
                    <input type="text" class="form-control" name="status"  placeholder="Estatus" [(ngModel)]="producto.status">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="">Descripcion</label>
                    <textarea name="descripcion" class="form-control" [(ngModel)]="producto.descripcion" ></textarea>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label for="">Imagen</label>
                    
                    <input type="file" (change)="cargarImg($event)">
                </div>
            </div>  
            <div class="col-12">
                <div class="form-group " *ngIf="accion=='guardar'">
                    <button type="button" (click)="guardar()" class="btn btn-success ">Guardar</button>
                </div>
                <div class="form-group " *ngIf="accion=='editar'">
                    <button type="button" (click)="sobreescribir()" class="btn btn-warning ">Guardar</button>
                </div>
            </div>
        </div>
        
</form>
<h2>Productos registrados</h2>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th>Existencias</th>
                    <th>Estatus</th>
                    <th>Descripcion</th>
                    <th>Imagen</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="produc" *ngFor="let i of productos">
                    <td>{{i.nombre}}</td>
                    <td>{{i.marca}}</td>
                    <td>{{i.precio}}</td>
                    <td>{{i.no_existencias}}</td>
                    <td>{{i.status}}</td>
                    <td>{{i.descripcion}}</td>
                    <td><img class="image" src="{{url+'getImgProducto/'+i.img}}"></td>
                    <td><button class="btn btn-danger" (click)="eliminar(i._id)">Borrar</button>
                        <button class="btn btn-warning" (click)="buscar(i._id)">Editar</button>
                    </td>                    
                </tr>
            </tbody>
        </table>
    </div>
</div>  