<section class="container">
    <div class="row">
        <h1 class="col-12">Bienvenido a {{title}}</h1>
        <hr>
        <h3 class="col-4 my-auto">Sobre nosotros</h3>
        <p class="col-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates a, est nemo architecto odit quaerat, atque aspernatur adipisci neque consequuntur et eius hic animi. Reiciendis consequuntur illo exercitationem sapiente autem.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates a, est nemo architecto odit quaerat, atque aspernatur adipisci neque consequuntur et eius hic animi. Reiciendis consequuntur illo exercitationem sapiente autem.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates a, est nemo architecto odit quaerat, atque aspernatur adipisci neque consequuntur et eius hic animi. Reiciendis consequuntur illo exercitationem sapiente autem.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates a, est nemo architecto odit quaerat, atque aspernatur adipisci neque consequuntur et eius hic animi. Reiciendis consequuntur illo exercitationem sapiente autem.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates a, est nemo architecto odit quaerat, atque aspernatur adipisci neque consequuntur et eius hic animi. Reiciendis consequuntur illo exercitationem sapiente autem.
        </p>
    </div>
    <hr>
    <div class="row">
            <ul col-6 mx-auto>
                    <li col-4><p><a routerLink="/productos">Nuestros productos</a> </p></li>
                    <li col-4><p><a routerLink="/login">Inicia sesion</a> </p></li>
                    <li col-4><p><a routerLink="/registro">Registrate</a> </p></li>
                </ul>
    </div>
    
    
</section>