<div class="container">
    <h2>Productos</h2>
        <ul>
            <li class="producto" *ngFor="let producto of productos">
                <a [routerLink]="['/getProducto',producto._id]">
                        <div class="image">
                            <img src="{{url+'getImgProducto/'+producto.img}}" *ngIf="producto.img">
                        </div>
                            
                        <h3>Articulo: {{producto.nombre}}</h3>
                        <p>Precio: ${{producto.precio}}</p>
                </a>                
            </li>
        </ul>
</div>